.col-8.home#server-list
	h2 Servers
	table#server-list-table
		tr
			th Name
			th Version
			th Type
			th &nbsp;
		each server in servers
			tr
				td= server.name
				td= server.version
				td!= server.type === 'vanilla' ? 'Vanilla' : 'PaperMC'
				- var clickTarget = `LOAD_PAGE('/pages/server/${server.suuid}', true)`;
				td.view-button: button(onclick=clickTarget) View
	br
	button(onclick='LOAD_PAGE(PAGES.setup)') Add server
.col-4
	h2 Right Sidebar
	p News?